{% extends 'base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
    <div class="row" id="row-body">
        {{ include('account/account_menu.html.twig') }}
        <div class="col">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Редактирование профиля</h4>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="mb-3">
                    {{ form_label(form.old_pass, 'Старый пароль' ) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="icon ion-md-lock"></i>
                        </span>
                        </div>
                        {{ form_widget(form.old_pass, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mt-1 form-error">
                        {{ form_errors(form.old_pass, {'attr': {'class': 'invalid-feedback'}} ) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.new_password.first, 'Новый пароль' ) }}
                    <div class="input-group">
                        {{ form_widget(form.new_password.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mt-1 form-error">
                        {{ form_errors(form.new_password.first, {'attr': {'class': 'invalid-feedback'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.new_password.second, 'Повторите пароль' ) }}
                    <div class="input-group">
                        {{ form_widget(form.new_password.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mt-1 form-error">
                        {{ form_errors(form.new_password.second, {'attr': {'class': 'invalid-feedback'}}) }}
                    </div>
                </div>
                <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
