{% extends 'base.html.twig' %}

{% block title %}Заявка продавца{% endblock %}

{% block body %}
    {{ include('partials/flashes.html.twig') }}
    <div class="d-flex justify-content-center">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'col col-md-9 text-center border border-light p-5'}}) }}
        <div class="form-row col-md-12 d-flex justify-content-center">
            <p class="h4 mb-4">Заявка продавца</p>
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
            {{ form_widget(form.name, {'attr': {'class': 'form-control rounded-0 mb-4', 'placeholder': 'Имя'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.surname) }}
            </div>
            {{ form_widget(form.surname, {'attr': {'class': 'form-control rounded-0 mb-4', 'placeholder': 'Фамилия'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.company_name) }}
            </div>
            {{ form_widget(form.company_name, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Название компании'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
            {{ form_widget(form.email, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Email'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.company_address) }}
            </div>
            {{ form_widget(form.company_address, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Адрес компании'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.company_description) }}
            </div>
            {{ form_widget(form.company_description, {'attr': {'class': 'form-control rounded-0 mb-4', 'placeholder': 'Описание компании', 'rows': '15'}}) }}
        </div>
        <div class="form-row col col-md-12">
            <div class="form-error">
                {{ form_errors(form.company_file) }}
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Файл</span>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" >Выбрать файл</label>
                    {{ form_widget(form.company_file, {'attr': {'class': 'custom-file-input'}}) }}
                </div>
            </div>
        </div>

        <!-- Send button -->
        <div class="form-row d-flex justify-content-center">
            <button class="col-md-4 btn btn-primary btn-block" type="submit">Отправить</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8d36ed54-0fd4-4fe0-9be9-bc5dfba1c6c7&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            let suggestView = new ymaps.SuggestView('admin_requests_company_address');
        }
    </script>
{% endblock %}
