{% extends 'base.html.twig' %}

{% block title %}Аккаунт{% endblock %}

{% block body %}
    <div class="row" id="row-body">
    {{ include('admin/admin.menu.html.twig') }}
    <div class="col">
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('admin_users') }}" method="GET">
                <div class="row search-form">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search-login" value="{{ app.request.get('search') }}" placeholder="Введите логин пользователя">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" id="selectRole" name="role">
                                <option value="" disabled selected>Выберите роль</option>
                                <option {% if app.request.get('role') == 'Любая' %}selected{% endif %}>Любая</option>
                                <option {% if app.request.get('role') == constant('App\\Entity\\User::ROLE_USER') %}selected{% endif %}>
                                    {{ constant('App\\Entity\\User::ROLE_USER') }}
                                </option>
                                <option {% if app.request.get('role') == constant('App\\Entity\\User::ROLE_SELLER_MANAGER') %}selected{% endif %}>
                                    {{ constant('App\\Entity\\User::ROLE_SELLER_MANAGER') }}
                                </option>
                                <option {% if app.request.get('role') == constant('App\\Entity\\User::ROLE_SELLER_MAIN') %}selected{% endif %}>
                                    {{ constant('App\\Entity\\User::ROLE_SELLER_MAIN') }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button class="btn btn-primary border" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="profile-wrapper">
            <div class="row dashboard-today">
                <table class="table">
                    <caption>Список пользователей</caption>
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Логин</th>
                        <th scope="col">Email</th>
                        <th scope="col">Кол-во заказов</th>
                        <th scope="col">Роли</th>
                        <th scope="col">Продавец</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr id="user-{{ user.getId() }}">
                        <th scope="col">{{ user.getId() }}</th>
                        <th scope="col">{{ user.getLogin() }}</th>
                        <th scope="col">{{ user.getEmail() }}</th>
                        <th scope="col">{{ user.getCheckouts().count }}</th>
                        <th scope="col">{{ user.getRoles()|join(', ') }}</th>

                        {% if user.getSeller() %}
                        <th scope="col"><a href="{{ path('admin_seller_view', { id: user.getSeller().getId() }) }}">{{ user.getSeller().getName() }}</a></th>
                        {% else %}
                        <th scope="col">#</th>
                        {% endif %}
                        <th scope="col">
                            <button class="btn btn-danger ajax-delete" data-id="{{ user.getId }}">
                                Удалить
                            </button>
                        </th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
                                <a class="page-link" href="{{ path('admin_users', {page: thisPage-1 < 1 ? 1 : thisPage-1, search: app.request.get('search'), role: app.request.get('role')}) }}">«</a>
                            </li>

                            {% for i in 1..maxPages %}
                                {% if i > 0 %}
                                    <li class="page-item {{ thisPage == i ? 'active' }}" >
                                        <a class="page-link" href="{{ path('admin_users', {page: i, search: app.request.get('search'), role: app.request.get('role')}) }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <li class="page-item" {{ thisPage == maxPages ? 'class="disabled"' }}>
                                <a class="page-link" href="{{ path('admin_users', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage, search: app.request.get('search'), role: app.request.get('role')}) }}">»</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript">
                 $(document).on('click', '.ajax-delete', function(){
                if (confirm('Вы уверены') === true)
                    {
                        let id = $(this).data('id');
                        $.ajax({
                            url:'{{ (path('admin_user_delete')) }}',
                            type: "POST",
                            dataType: "json",
                            data: {
                                "id": id
                            },
                            async: true,
                            success: function (response)
                            {
                                let but = "#user-" + id;
                                $(but).detach();
                            },
                            error: function (error) {
                                alert(error['message'])
                            }
                        });
                    }
            });
            </script>
        {% endblock %}